<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.cmyfqwq.webauthnshell"
    android:versionCode="1"
    android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>
    <application android:label="WebAuthn for WebView Shells">
        <meta-data android:name="xposedmodule" android:value="true"/>
        <meta-data android:name="xposeddescription" android:value="Enable passkeys in WebView-shell browsers via the official androidx.webkit switch (disable to revert)"/>
        <meta-data android:name="xposedminversion" android:value="93"/>
        <meta-data android:name="xposedscope" android:value="mark.via.gp"/>
    </application>
</manifest>
